<!DOCTYPE html>
<html lang="en">
  <head>

     <% include ../partials/head %>
  
    <link href="css/cover.css" rel="stylesheet">

  </head>



  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Brianstorming</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Welcome to Brianstorming</h1>
            <p class="lead">Brianstorming is a plateform for creating brainstorming! Brian will be available Monday March 16th 2015! </p>
            <p class="lead">
            <% include ../partials/login %>    

              <button onclick="lock.showSignin({
             authParams: {
              scope: 'openid'
              }, 
              responseType: 'code', 
              callbackURL: '<%= config.callbackURL %>',
              connections: [
                'facebook',
                'google-oauth2',
                'twitter',
                'Username-Password-Authentication'
              ]
            });" class="btn btn-success">Login</button>     
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Brianstorming is made by Dimitri H. Masson</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
