<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://cdn.auth0.com/w2/auth0-4.js"></script>
	<script src="js/jquery.min.js"></script>
</head>
<body>
<%= user.nickname %>
<button id="login"> xonnwxr  </button>

<script>

	  var auth0 = new Auth0({
    domain:       'brianstorming.auth0.com',
    clientID:     'FZP0ifjqHEosYfO47yAcdY0tawm1ud6W',
    callbackURL:  '/test.html',
    callbackOnLocationHash: true
  });



</script>
</body>
</html>